<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Брэд Питт</h1>
    <img src="{{url_for('static', filename='Photo_1.jpeg')}}" width="260" height="350" />
    <img src="https://www.film.ru/sites/default/files/filefield_paths/brad-pitt_fury_2014_0.jpg" width="525" height="350" />
    <img src="{{url_for('static', filename='Animation_1.gif')}}" width="500" height="350" />
    <h2><strong><mark>О персоне</mark></strong></h2>
    <p><em>Карьера -</em><del>Программист, сын маминой подруги</del>  Актер, продюсер</p>
    <p><em>Рост -</em>1,8м</p>
    <p><em>Дата рождения - </em>18 декабря, 1963, Стрелец</p>
    <p><em>Жанры - </em><ins>драма, комедии, триллер</ins></p>
    <br>
    <a href="https://www.kinopoisk.ru/name/25584/">Больше информации тут</a>
</body>
</html>